#haiku-checker {
  width: 500px;
  margin: auto;
}

#haiku-checker input {
  width: 100%;
}

button {
  background-color: none;
  border: 1px solid black;
  padding: 15px 20px;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding: 0;
}