@font-face {
  font-family: "Hakuno";
  src: url("../assets/fonts/hakuno.ttf");
}

body {
  height: 100vh;
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  font-family: "Hakuno";
}

h1 {
  text-align: center;
}

.container {
  width: 1000px;
  height: 100vh;
  margin: auto;
  padding: 0;
  position: relative;
}

img {
  width: 500px;
  border-radius: 40px;
}

.checker-box {
  width: 500px;
  text-align: center;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

#haiku-checker input {
  width: 100%;
  margin: 10px 0;
  padding-left: 10px;
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid #cc080a;
}

button {
  background-color: transparent;
  margin: 5px;
  border: 1px solid #cc080a;
  padding: 10px 20px;
  box-shadow: 3px 3px #cc080a;
  transition: 0.5s;
  scroll-behavior: smooth;
}

button:hover {
  transform: translateY(-10px);
}

input,
button {
  font-family: "Hakuno";
  text-transform: lowercase;
  font-size: 20px;
}

ul {
  list-style: none;
  padding: 0;
  width: auto;
}

.haiku-box {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1;
}

#display-haiku li {
  padding: 5px 0;
  color: #cc080a;
  font-size: 40px;
}

#check-result {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 200px;
  font-size: 30px;
}
